#kegiatan, #mars {
  background-color: #edf6f9;
}

#informasi {
  padding-bottom: 1rem;
  background-color: #edf6f9;
}

#footer {
  background-color: #000000;
  padding: 0 0 5px 10px;
}

#footer a {
  text-decoration: underline;
}

section {
  padding-top: 5rem;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

ion-icon {
  font-size: 120px;
}

/* Service */

.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

/* .service-box:hover,
.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #0078ff;
} */

.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  font-size: 4rem;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}

.service-box .s-description {
  color: #4e4e4e;
}

/* Title */

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.title-b {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 30px;
  height: 4px;
  background-color: #0078ff;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .nav-item {
    text-transform: uppercase;
  }
  .navbar-brand , .nav-link {
    color: white !important;
  }
  .carousel {
    margin-top: -60px;
  }
  .carousel-fade {
    z-index: -1;
  }
  .navbar {
    z-index: 1;
  }
  .nav-link {
    color: #fff;
  }

  /* Href Hover */

  a {
    position: relative;
  }
  
  .nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-link:hover:after { 
    width: 100%; 
    left: 0; 
  }

  /* Carousel Button */


  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
}

@media (max-width: 1199.98px) {
  #informasi {
    text-align: center;
  }
}
